---
Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-owning-memory,
  google-*,
  -google-readability-todo,
  -google-runtime-references,
  modernize-*,
  -modernize-use-trailing-return-type,
  performance-*,
  -performance-noexcept-move-constructor,
  readability-*,
  -readability-magic-numbers,
  -readability-else-after-return,
  bugprone-*,
  -bugprone-too-small-loop-variable,
  -bugprone-easily-swappable-parameters,
  cert-*,
  -cert-err58-cpp,
  -cert-msc51-cpp,
  -cert-dcl58-cpp,
  misc-*,
  -misc-non-private-member-variables-in-classes

WarningsAsErrors: '*'
HeaderFilterRegex: ''
FormatStyle: none